
/****************************************************************************
*
* Author: Sudha
* Date: 11/01/2019
* 
*****************************************************************************/


/* style all p tags*/

p {
    font-size: 18px;
    color: red;
}

/* #header p {
    font-size: 24px;
} */

/* style all header tags */

h1 {
    font-size: 44px;
}