
/* LESSON-1 - SAMPLE RULES*/

#header {
    position: absolute;
    top: 0;
    left: 0;
}

#header h1 {
    font-size: 32px;
}

p {
    font-size: 12px;
}

/* LESSON-2 - NO SPECIFIC RULES ADDED */

/* LESSON-3 - EXTERNAL STYLESHEET */

p {
    font-size: 18px;
    color: red;
}



/* LESSON-4 - TARGETING ELEMENTS / TAGS*/

p {
    font-size: 18px;
    color:red;
}

a {
    text-decoration: underline;
    color:blue;
}

span {
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

div {
    background-color: grey;
    width: 100%;
}

/*LESSON-5 -  */

h2 {
    font-size: 24px;
}

/*Target Id */
#content-header {
    font-size: 18px;
    color:red;
}

span {
    display: block;
    color: blue;
}

span {
    color: purple;
}

/*Target class */
.deck {
    color: green;    
}